<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.github.sdbg.debug.core.chromeLaunchConfig">
<stringAttribute key="applicationArguments" value=""/>
<stringAttribute key="applicationName" value=""/>
<stringAttribute key="bad_container_name" value="\rapla\runconfig"/>
<booleanAttribute key="enableExperimentalWebkitFeatures" value="true"/>
<booleanAttribute key="launchFile" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/rapla"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="projectName" value="rapla"/>
<booleanAttribute key="showLaunchOutput" value="false"/>
<stringAttribute key="url" value="http://localhost:8051/rapla.html"/>
<stringAttribute key="urlQueryParams" value=""/>
</launchConfiguration>
