<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
  <!-- Servlet Configuration ========================================== -->
  <listener>
    <listener-class>se.jiderhamn.classloader.leak.prevention.ClassLoaderLeakPreventor</listener-class>
  </listener>
  <filter>
     <filter-name>RaplaFilter</filter-name>
     <filter-class>org.rapla.server.HTTPMethodOverrideFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>RaplaFilter</filter-name>
    <url-pattern>/rapla/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>RaplaFilter</filter-name>
    <url-pattern>/rapla</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>RaplaServer</servlet-name>
    <display-name>RaplaServer</display-name>
    <description>Rapla</description>
    <servlet-class>org.rapla.server.MainServlet</servlet-class>
    <!-- Config file path relative to this file -->
    <init-param>
      <param-name>config-file</param-name>
      <param-value>raplaserver.xconf</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RaplaServer</servlet-name>
    <url-pattern>/rapla/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RaplaServer</servlet-name>
    <url-pattern>/rapla</url-pattern>
  </servlet-mapping>
  
  
  <env-entry>
	  <env-entry-name>raplafile</env-entry-name>
	  <env-entry-value>${context-root}/data.xml</env-entry-value>
	  <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  
  <env-entry>
	  <env-entry-name>rapladatasource</env-entry-name>
	  <env-entry-value>raplafile</env-entry-value>
	  <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <resource-ref>
     <description>Rapla database</description>
     <res-ref-name>jdbc/rapladb</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>

  <mime-mapping>
     <extension>css</extension>
      <mime-type>text/css</mime-type>
  </mime-mapping>
  
  <mime-mapping>
     <extension>js</extension>
     <mime-type>text/javascript</mime-type>
  </mime-mapping>
 
  <welcome-file-list>
    <welcome-file>redirect.html</welcome-file>
  </welcome-file-list>

</web-app>
