#calendar * {
	font-family: Helvetica,Arial,Verdana,sans-serif;
}
a, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: #FFFF88;
}
#calendar a span.tooltip {
    display: none;
}

#calendar a span td {
    padding: 0px;
    font-size: small;
    color: black;
}

#calendar a td {
    padding: 0px;
    font-size: small;
    color: black;
}

#legend {
    align: center;
    border-width: 0px;
}

#legend a span {
    display: none;
}

#legend a span td {
    padding: 0px;
    font-size: small;
    color: black;
}

#calendar {
   width: 100%;
}

/** calendar tooltip */
#calendar a:hover span.tooltip {
    display: block;
    bottom: 0.5em;
    right: 0.5em;
    padding: .5em;
    z-index: 1;
    font-size: small;
    color: black;
    background-color: #FFFF88;
/*  Doesn't  work in IE  */
   position: fixed;
   width: 500px;
   border: 2px solid #000000;
}

/* woraround for IE */
#calendar a:hover span.tooltip {
  // position: absolute;
}

/** legend tooltip */
#legend a:hover span {
    display: block;
    bottom: 0.5em;
    right: 0.5em;
    padding: .5em;
    z-index: 1;
    font-size: small;
    color: black;
    background-color: #FFFF88;
/*  Doesn't  work in IE
    position: fixed;
    width: auto;
 */
    position: absolute;
    width: 500px;
    border: 2px solid #000000;
}


.title {
   text-align:center;
}

.datechooser {
   text-align:center;
}


.week_table {
    width: 100%;
    empty-cells: show;
    border-spacing:0px;
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-right-width:1px;
    border-right-style:solid;

    padding:0px;
    border-color:black;
/* workaround for IE */
//    border-collapse:collapse;
    background-color: #FFFFFF;
}

.week_emptycell_black {
   font-size:9px;
   margin: 0px;
   border-top-style:solid;
   border-top-width:1px;
   border-left-width:0px;
   border-right-width:0px;
   padding-left: 0px;
   padding-right: 0px;
}

.week_separatorcell_black {
   font-size:9px;
   border-top-width:1px;
   border-top-style:solid;
   border-left-width:0px;
   border-right-width:1px;
   border-right-style:solid;
   padding-left: 1px;
   border-right-color: #CCCCCC;
}
.week_smallseparatorcell_black {
   font-size:9px;
   border-left-width:0px;
   border-right-width:0px;
   border-top-width:1px;
   border-top-style:solid;
   padding-left: 1px;
   padding-right: 1px;
   margin-left: 0px;
   margin-right: 0px;
}

.week_emptycell {
   font-size:9px;
   margin: 0px;
   border-color:#CCCCCC;
   border-top-style:solid;
   border-top-width:1px;
   border-left-width:0px;
   border-right-width:0px;
   padding-left: 0px;
   padding-right: 0px;
}

.week_emptynolinecell {
   margin: 0px;
   border-width:0px;
}

.week_separatorcell {
   font-size:9px;
   border-top-width:1px;
   border-color:#CCCCCC;
   border-top-style:solid;
   border-left-width:0px;
   border-right-width:1px;
   border-right-style:solid;
   padding-left: 1px;
}
.week_separatornolinecell {
   margin: 0px;
   border-width:0px;
   border-color:#CCCCCC;
   border-right-width:1px;
   border-right-style:solid;
   padding-left: 1px;
}

.week_smallseparatorcell {
   font-size:9px;
   border-color:#CCCCCC;
   border-left-width:0px;
   border-right-width:0px;
   border-top-width:1px;
   border-top-style:solid;
   padding-left: 1px;
   padding-right: 1px;
   margin-left: 0px;
   margin-right: 0px;
}
.week_smallseparatornolinecell {
   margin: 0px;
   border-width:0px;
}

.week_header {
   background-color: #DDDDDD;
   text-align: left;
   padding-left: 5px;
   padding-right: 5px;
   border-right-width:1px;
   border-right-style:solid;
   border-left-width:1px;
   border-left-style:solid;
   border-top-width:1px;
   border-top-style:solid;
   border-bottom-width:1px;
   border-bottom-style:solid;
}

.week_number {
   font-size: 0.9em;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
   white-space: nowrap;
   border-left-width: 0px;
   border-top-width: 0px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-style: solid;
}


.week_times {
   background-color: #DDDDDD;
   text-align:right;
   padding-right: 7px;
   vertical-align: top;
   border-left-width:1px;
   border-right-width:1px;
   border-top-width:1px;
   border-left-style:solid;
   border-right-style:solid;
   border-top-style:solid;
   width:10%;
}

.week_cell {
   margin: 0px;
   border-color:#CCCCCC;
   border-top-style:solid;
   border-top-width:1px;
   padding: 0px;
   padding-bottom: 1px;
   
}
.week_block {
   margin: 0px;
   padding-left: 2px;
   padding-right: 2px;
   padding-top: 0px;
   border-left-width:1px;
   border-right-width:1px;
   border-bottom-width:1px;
   border-top-width:1px;
   border-left-style:solid;
   border-right-style:solid;
   border-bottom-style:solid;
   border-top-style:solid;
   border-radius:5px;
   font-size: 9pt;
   min-height:100%;
   height:100%;
   cursor: default;
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
   box-shadow: 0px 1px 4px rgba(0,0,0,.3);
   text-shadow: none;
   text-decoration: none;
}

.month_table {
   width: 100%;
   background-color: #FFFFFF;
   empty-cells: show;
   border-spacing:0px;
/* workaround for IE */
//   border-collapse:collapse;
//   border: 1px;
//   border-left: 1px solid;
}

.month_header {
   background-color: #DDDDDD;
   text-align: center;
   border-top-width:1px;
   border-left-width:0px;
   border-right-width:1px;
   border-bottom-width:1px;
   border-style:solid;
}

.month_cell {
   border-width:0px;
   border-left-width:0px;
   border-right-width:1px;
   border-bottom-width:1px;
   border-style:solid;
   padding:0px;
}

.month_rowheader  {
   background-color: #DDDDDD;
   border-width:0px;
   border-left-width:0px;
   border-right-width:1px;
   border-bottom-width:1px;
   border-style:solid;
   padding:0px;
}

.month_block {
   font-size: 8pt;
/*
   border:1px;
*/
   border-bottom-color: black;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-right-color: black;
   border-right-style: solid;
   border-right-width: 1px;
   line-height: 115%;
   border-radius:4px;
}


.person {
   font-family: Verdana;
   font-weight: bold;
}

.resource {
   font-size: 10pt;
}

.link {
   text-decoration: underline;
}

.eventtable
{
  width:100%;
}

@page {
  size: auto;
}

@media print {
   .datechooser {
     display: none;
   }
}

/* HTML Export calendar */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #E1E1E1;
}

@media print {
	@page{size: landscape;}
	* {
		font-size: 10px;
	}
}
