/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.serverResponseLabelError {
	color: red;
}

.table-selectable tbody {
	cursor: pointer;
}

#progressWrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:90;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

#progressWrapper .progress {
	width: 60%;
	margin: auto;
	top: 50%;
	position: relative;
}

#raplaPopup {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 6px solid orange;
	background-color: white;
	z-index: 100;
	overflow: auto;
}

.gwt-PopupPanel,
.gwt-DialogBox {
	z-index: 150;
}

/* INPUT FIELDS */
.inputWrapper {
	height: 40px;
	margin: 5px;
}

.timePicker {
	width: 140px;
}

.dateInfoLineComplete .textlabel {
    float: left;
    padding: 8px 8px 0;
    width: 80px;
}
.dateInfoLineComplete .timePicker {
	float: left;
}

.raplaClockPicker {
	width: 110px;
}

.clockpicker-align-left.popover.bottom > .arrow {
	left: 25px;
}

/* Calendar Place */
.calendarPlace {
	display: flex;
}
.calendarPlace .resources {
	width: 300px;
	overflow-y: visible; 
}
.calendarPlace .resources div{
	overflow-x: hidden;
}
.calendarPlace .drawingContainer{
	width: 100%;
}

/* TABLE */
.header.topleft, .header.left {
	width: 30px;
}

.week.table {
	width: 100%;
	padding-top: 20px;
	border-spacing: 0;
	border-bottom: 1px solid #000000;
	border-collapse: inherit;
}

.week.table td, .week.table tr {
	padding: 0px;
}

.week.table tr.full td {
	border-top: 1px solid #000000;
}

.week.table tr.sub td {
	border-top: 1px solid #E2E2E2;
}

.week.table .emptyDayRow {
	border-right: 1px solid #000000;
}

.header.left {
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
}

.header.top {
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}

.header.topleft {
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
}

.week.table td {
	padding-right: 2px;
	vertical-align: top;
}

.week.table table {
	display: table;
	width: 100%;
}

.week.table .header {
	background-color: #aaaaaa;
	border-color: black;
	border-right-width: 1px;
}

.week.table .emptyDayRow {
	
}

.resizer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.resizerIcon {
    margin: 0 auto;
    width: 10px;
	cursor: n-resize;
	color: #000000;
}

/* Event style */
.week.table td.eventTd, .week.table tr.sub td.eventTd {
	border: 1px solid #999999;
	border-right-style: groove;
	border-right-width: 2px;
	border-radius: 5px;
	position: relative;
    overflow: hidden;
   	min-width: 100px;
}

.event {
    position: absolute;
   	margin: 3px;
   	width: 100%;
    color: #676767;
}

.week.table .eventTd {
	cursor: pointer;
}

.event p {
	margin: 10px 2px;
}
/* START RESERVATIONVIEW */
/* ACTION BAR */
.mainButtonsBar{
	min-width: 300px;
}

.cancelButton, .deleteButton, .saveButton, .redoButton, .undoButton {
	float: left;
	width: auto;
	/*	background-color: rgb(153, 184, 252) !important;*/
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;
}

.cancelButton:hover, .deleteButton:hover, .saveButton:hover, .redoButton:hover,
	.undoButton:hover {
	margin-left: 6px;
	margin-right: 4px;
	margin-top: 6px;
	margin-bottom: 4px;
}

.gwt-DialogBox .dialogTop .Caption {
	cursor: move;
}

.popupContent .nav {
	clear: left;
}

/* INFO VIEW */

/* RESOURCES DATES VIEW */
.dateList {
	padding: 2px;
	border: 1px solid #c2c2c2;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	height: 200px;
}

.resourcesDates {
	min-width: 700px;
}

.repeating {
	clear: left;
}

.dateBoxPopup {
	z-index: 1005;
}

.buttonsResourceDates {
	display: block;
}

.allDay {
	padding-top: 6px;
	float: left;
}

.dateInfoLineComplete, .dateInfoLineLeft {
	clear: both;
}

.datesButtonBar, .dateContent {
	float: left;
}

.dateList .date {
	cursor: pointer;
}

.dateList .selected {
	background-color: aqua;
}
/* END RESERVATIONVIEW */