<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- need to be uncommented to avoid lookupDeprecated failures
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
 -->
<web-app>
  <!-- Servlet Configuration ========================================== -->
  <filter>
     <filter-name>RaplaFilter</filter-name>
     <filter-class>org.rapla.server.HTTPMethodOverrideFilter</filter-class>
  </filter>
  
  <filter>
  	<filter-name>MemberInjectionFilter</filter-name>
  	<filter-class>org.rapla.server.internal.rest.RaplaFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>RaplaFilter</filter-name>
    <url-pattern>/rapla/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>RaplaFilter</filter-name>
    <url-pattern>/rapla</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>MemberInjectionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>se.jiderhamn.classloader.leak.prevention.ClassLoaderLeakPreventor</listener-class>
  </listener>  

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.use.builtin.providers</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>javax.ws.rs.Application</param-name>
		<param-value>org.rapla.rest.RestApplication</param-value>
	</context-param>

	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<display-name>RestServlet</display-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
  
  <mime-mapping>
     <extension>css</extension>
      <mime-type>text/css</mime-type>
  </mime-mapping>
  
  <mime-mapping>
     <extension>js</extension>
     <mime-type>text/javascript</mime-type>
  </mime-mapping>
 
  <welcome-file-list>
    <welcome-file>redirect.html</welcome-file>
  </welcome-file-list>

  <resource-ref>
     <description>Rapla database</description>
     <res-ref-name>jdbc/rapladb</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>
   
  <resource-ref>
     <description>Rapla services map</description>
     <res-ref-name>raplaservices</res-ref-name>
     <res-type>java.util.HashMap</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>

  <env-entry>
	  <env-entry-name>raplafile</env-entry-name>
	  <env-entry-value>${context-root}/data.xml</env-entry-value>
	  <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  
  <env-entry>
	  <env-entry-name>rapladatasource</env-entry-name>
	  <env-entry-value>raplafile</env-entry-value>
	  <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
 
</web-app>
